.table{
    width: 80%;
    margin:5% auto;
    text-align: center;
    border-collapse:collapse;
}
.table th{
    font-size: 1.3em;
}
.table tr{
    border-bottom: 1px solid black;
    margin:10px 0;
}

.checkout{
    margin: 0% 0% 0% 83%;
    background-color: black;
    color: white;
    border-radius: 10%;
}